<div class="main-div">
  <div class="div-1">
    <a mat-flat-button disableRipple="true" class="title" (click)="toDetail(myTopic.pid)">{{myTopic.postTitle}}</a>
    <div class="div-2">
      <a class="reply">{{myTopic.commentCount}}</a>
      <img class="reply-img"  src="https://group-raiser-angular.s3.amazonaws.com/assets/ic_reply.png" matTooltip="reply number" alt=""/>
      <a class="time" matTooltip="create time">{{myTopic.createTime}}</a>

    </div>
    <p class="data">{{myTopic.postData}}</p>
  </div>
</div>
