body{
  font-family: Tahoma, Geneva, sans-serif;
  color: #fff;
  min-height: 100vh;
  text-align: center;
  background: url('../../assets/img/keyboard.jpg');
  background-size: cover;
}

.login-form
{
  background: rgba(44, 62, 80, 0.7);
  width: 400px;
  height: auto;
  text-align: center;
  display: inline-block;
  margin: 100px auto auto auto;
}
input[type="text"]
{
  color: white;
}

input[type="password"]
{
  color: white;
}
.login-card {
  background: transparent;
  height: 400px;
  width: 400px;
  display: inline-block;

}
.title
{
  width: 100%;
  font-size: 22px;
  color: white;
  text-align: center;
}
.btn_login
{
  border: none;
  width: 190px;
  background: white;
  color: #494949;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  border-radius: 15px;
  cursor: pointer;
}

.btn_login:hover
{
  color: #ffffff;
  background-color: #494949;
}


h2
{
  color: white;
}
.password
{
  background: transparent;
  border: none;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 12px;
  color: skyblue;
}
.password:hover
{
  color: white;
}
.signup
{
  background: transparent;
  border: none;
  background-size: 0;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 16px;
  color: skyblue;
}
.signup:hover
{
  color: white;
}
.container
{
  display: flex;
  flex-direction: row;
  width: 100%
}
::placeholder{
  color: aliceblue;
  opacity: 0.8;
}

