<div>
  <a
     mat-flat-button [disableRipple]="true" (click)="toDetail(myComment.mid, myComment.pid)" class="title">
     {{myComment.postTitle}}</a>
  <a *ngIf="myComment.targetNickname === ''"
    mat-flat-button [disableRipple]="true"
     class="nick_name_d">
    {{myComment.targetNickname === '' ? '(own)' :'('+myComment.targetNickname+')'}}</a>

  <a *ngIf="myComment.targetNickname !== ''"
     mat-flat-button [disableRipple]="true" (click)="toUser(myComment.targetUid)" class="nick_name">
    {{myComment.targetNickname === '' ? '(own)' :'('+myComment.targetNickname+')'}}</a>
  <br>

  <a  class="data">{{myComment.comment}}</a>
  <a  class="time"> - {{myComment.commentTime}}</a> <br> <br>
</div>
