a {
  color: #494949;
}

div {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #DFDFDF;
}

.nick_name {
  background: none;
  background-size: 0;
  color: #FAAC27;
  width: 20%;
  margin-top: 5px;
  margin-left: 10px;
  text-align: left;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nick_name:hover {
  color: #FAAC27;
  margin-top: 5px;
  background: none;
  text-align: left;
  margin-left: 10px;
  width: 20%;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: underline;
}

.data {
  background: none;
  background-size: 0;
  width: 95%;
  margin-left: 27px;
  font-size: 13px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.time {
  color: #888888;
  font-size: 12px;
  margin: 27px;
}
