a {
  color: #494949;
}

div {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #DFDFDF;
}

.nick_name {
  padding: 0;
  background: transparent;
  background-size: 0;
  color: #FAAC27;
  width: auto;
  margin-top: 5px;
  margin-left: 5px;
  text-align: left;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nick_name:hover {
  color: #fccd7d;
}

.nick_name_d {
  padding: 0;
  color: #FAAC27;
  background-color: transparent;
  width: auto !important;
  margin-top: 5px;
  margin-left: 5px;
  text-align: left;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.title {
  padding: 0;
  text-align: right;
  background: none;
  background-size: 0;
  color: #2A7DFA;
  width: auto;
  margin-top: 5px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title:hover {
  text-decoration: underline;
}

.data {
  color: #494949;
  background: none;
  height: auto;
  background-size: 0;
  width: 70%;
  margin-left: 27px;
  font-size: 13px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.time {
  color: #888888;
  font-size: 12px;
  height: auto;
  margin-bottom: 10px;
  width: 22px;
}
