<div style="width: 60%; min-height: 300px; background-color: white;">
  <div
    style="width: 20%; min-height: 300px; background-color: #F9F9F9; text-align: center; border: #DFDFDF solid 1px; float: left">
    <img style="height: 120px; width: 120px; margin-top: 22px; margin-left: 28px;"
         src="https://angularcli.s3.amazonaws.com/asserts/img/back.jpg">
    <a style=" font-size: 20px">Username</a>
  </div>
  <div
    style="width: 70%; min-height: 300px; background-color: white; align-content: center; border: #DFDFDF solid 1px; float: left">
    <div class="div-1">
      <a class="data">this is main content</a>
    </div>
    <div class="div-3">
      <a class="time" matTooltip="create time">post date </a>
      <a class="reply" matTooltip="Clickable link">show replys</a>
    </div>
  </div>
</div>

