
<div style="width: 100%; height: 250px; display: flex">
  <div
    style="min-width: 150px; min-height: 250px;  width: 15%; background-color: #F9F9F9; border-top: #DFDFDF solid 1px;
      border-bottom: #DFDFDF solid 1px; border-right: #DFDFDF solid 1px; display: flex">
    <div>
      <img style=" width: 100px; height: 100px; margin-top: 22px; margin-left: 23px; float: left"
           src="https://angularcli.s3.amazonaws.com/asserts/img/back.jpg">
      <a class="username">{{topic.nickName}}</a>
    </div>
  </div>
  <div
    style="min-width: 300px; height: 250px; width: 85%; display: flex; background-color: white; align-content: center; border-top: #DFDFDF solid 1px;
      border-bottom: #DFDFDF solid 1px; border-left: #DFDFDF solid 1px;float: left">
    <div class="div-1">
      <a class="data">{{topic.postData}}</a>
      <div style="bottom: 20px; position: absolute; text-align: right; width: 90%; float: left; height: 20px; margin-right: 30px">
        <a class="time" matTooltip="create time">{{topic.createTime | date: 'MM/dd/yyyy, h:mm a'}}</a>
        <a mat-flat-button class="reply" matTooltip="Clickable link" (click)="toggle()"> reply(20)</a>
        <a mat-flat-button class="del" (click)="deleteThis()">Delete</a>
      </div>
    </div>

<!--  </div>-->
<!--  <div *ngIf="!isHidden" class="content">-->

<!--    <div>-->
<!--        <label>-->
<!--          <textarea  #postContent class="commentBox" maxlength="300"-->
<!--                     placeholder="Say something here" required="true">-->
<!--        </textarea>-->
<!--        </label>-->
<!--        <button mat-button  class = "btn_post" (click)="onPost(postContent.value)">Post</button>-->
<!--    </div>-->
<!--    <div>-->

<!--    </div>-->
 </div>
</div>
