<header>
  <mat-toolbar *ngIf="isUser" style="background-color: #242424; position: sticky;">
    <button mat-button [disableRipple]="true" routerLink="/" matTooltip="Home">
      <img src="https://angularcli.s3.amazonaws.com/asserts/img/ic_title_logo.png" class="img-responsive2" alt="Home">
    </button>
    <span class="example-fill-remaining-space"></span>
    <a mat-flat-button class="top-a" (click)="logout()">Logout </a>
    <header>Hi, {{currentUser.nickName}}</header> &nbsp;
    <button mat-button [disableRipple]="true" routerLink="/profile" matTooltip="Profile">
      <img src="https://angularcli.s3.amazonaws.com/asserts/img/ic_user.png" class="img-responsive" alt="Profile"
           style="border: 2px white;">
    </button>
  </mat-toolbar>
</header>

<router-outlet></router-outlet>

