<div class="main-card">
  <div class="div-1">
    <a mat-flat-button [disableRipple]="true" class="title" (click)="detailPost(index.pid)"
    matTooltip="{{index.postTitle}}">
      {{index.postTitle}}</a>

      <a mat-flat-button [disableRipple]="true" class="time" matTooltip="create time">
        <img
          class="nick_name_img"
          src="https://group-raiser-angular.s3.amazonaws.com/assets/ic_clock.png" alt=""/>
        {{createDateString}}
      </a>

      <a mat-flat-button [disableRipple]="true" class="nick_name" (click)="seeOthers()">
        <img
          class="nick_name_img"
          src="https://group-raiser-angular.s3.amazonaws.com/assets/ic_person.png" alt=""/>
        {{index.nickname}}
      </a>
    <div style="width: 100%">
      <a class="data" matTooltip="{{index.postData}}">{{index.postData}}</a>
      <a class="reply">{{index.levelCount}}</a>
    </div>
    <div style="width: 100%;">
      <a class="time2" style="padding-top: 20px; margin-left: 18px" matTooltip="Meet Time"
        >{{dealDateString}}
      </a>
    </div>
  </div>
</div>
