
<body>
<div class='container'>
  <div class='header'>
    <div class='person'>
      <img class='dp' src="https://angularcli.s3.amazonaws.com/asserts/img/pen.png">
    </div>
    <div class='name'>Tiger_ace (Real name)</div>
  </div>
  <div class='info'>
    <div class="email">chengenli117@gmail.com</div>
    <h2 class="title">Personal Status</h2>
    <p>And missing you is like fighting a war。</p>
    <mat-tab-group style="margin-top: 50px">
      <mat-tab label="Posted By me">
        <div class="main_div2">
          <div class="post-div">
            <div class="list-container">
              <app-index  *ngFor="let index of displayingPostIndexes" [index]="index">

              </app-index>
              <mat-card style="width: 97%; float: left; margin-top: 10px; margin-bottom: 10px">
                <mat-paginator
                  [length]="countPost"
                  [pageSize]="currentPostItemPerPage"
                  [pageSizeOptions]="numberOfPages"
                  (page)="onPostPaginateChanging($event)"
                  [showFirstLastButtons]="true">
                </mat-paginator>
              </mat-card>

            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Commended By me">
        <div class="main_div2">
          <div class="post-div">
<!--            <div class="list-container">-->
<!--              <app-my-comments  *ngFor="let comment of displayingCommentIndexes" [comment]="comment">-->

<!--              </app-my-comments>-->
<!--              <mat-card style="width: 97%; float: left; margin-top: 10px; margin-bottom: 10px">-->
<!--                <mat-paginator-->
<!--                  [length]="countComment"-->
<!--                  [pageSize]="currentCommentItemPerPage"-->
<!--                  [pageSizeOptions]="numberOfPages"-->
<!--                  (page)="onCommentPaginateChanging($event)"-->
<!--                  [showFirstLastButtons]="true">-->
<!--                </mat-paginator>-->
<!--              </mat-card>-->

<!--            </div>-->
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

</body>




