<body>
<div>
  <mat-toolbar class="t-toolbar">
    <mat-toolbar-row>
      <div style="width: 100%;">
        <ng-marquee duration="26">
          <mark style=""><a href="https://www.pokemongo.com/en-us/" target="_blank" style="color:
           white; text-decoration: none"> Evolution Event Look forward
            to Evolution items from raids, longer-lasting Lure Modules, and increased encounters with Pokémon that
            evolve in special ways. From Thursday, December 5, 2019, at 1:00 p.m. to Thursday, December 12,
            2019, at 1:00 p.m. PST (GMT −8) </a></mark>

        </ng-marquee>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="div-1">
  <div style="width: 19%; height: 100%; float: left">
    <img id="img1" [src]="[currentUrl]" class="blur-img">
  </div>
  <div style="width: 62%; filter: blur(0px); float: left; height: 100%">
    <slideshow #slideshow style="alignment: center" [height]="'100%'"
               [minHeight]="'100%'"
               (click)="gotoAdsLink($event)"
               [autoPlay]="true"
               [dotColor]="'#D6471C'"
               [fullscreen]="false"
               [showArrows]="true"
               autoPlayInterval="5600"
               [imageUrls]="imageSources"
               [lazyLoad]="imageSources?.length > 1"
               [autoPlayWaitForLazyLoad]="true"
               [showDots]="true"
               (onIndexChanged)="display($event)">
    </slideshow>
  </div>
  <div style="width: 19%; height: 100%; float: left;">
    <img [src]="[currentUrl]" class="blur-img2">
  </div>
</div>


<div class="main_div2">

  <div class="main_div3">
    <div class="post-div">
      <div class="list-container">
        <app-index *ngFor="let index of displayingIndexes" [index]="index"
                   (detailEvent)="detailPage($event)">

        </app-index>
        <div style="width: 100%; float: left;border-right: 1px solid #DFDFDF; min-width: 800px">
          <mat-paginator
            [length]="count"
            [pageSize]="currentItemPerPage"
            [pageSizeOptions]="numberOfPages"
            (page)="onPaginateChange($event)"
            [showFirstLastButtons]="true">
          </mat-paginator>
        </div>

      </div>
    </div>
    <div class="filter_div">
      <a class="label">Day of Week</a>
      <mat-button-toggle class="week_day" [checked]="MondayToggle"
                         (change)="MondayToggle = $event.source.checked">Monday
      </mat-button-toggle>

      <mat-button-toggle class="week_day" [checked]="TuesdayToggle"
                         (change)="TuesdayToggle = $event.source.checked">Tuesday
      </mat-button-toggle>

      <mat-button-toggle class="week_day" [checked]="WednesdayToggle"
                         (change)="WednesdayToggle = $event.source.checked">Wednesday
      </mat-button-toggle>

      <mat-button-toggle class="week_day" [checked]="ThursdayToggle"
                         (change)="ThursdayToggle = $event.source.checked">Thursday
      </mat-button-toggle>

      <mat-button-toggle class="week_day" [checked]="FridayToggle"
                         (change)="FridayToggle = $event.source.checked">Friday
      </mat-button-toggle>

      <mat-button-toggle class="week_day" style="border-color: green; color: green" [checked]="SaturdayToggle"
                         (change)="SaturdayToggle = $event.source.checked">Saturday
      </mat-button-toggle>

      <mat-button-toggle class="week_day" style="border-color: red; color: red" [checked]="SundayToggle"
                         (change)="SundayToggle = $event.source.checked">Sunday
      </mat-button-toggle>

      <a class="label" style="margin-top: 70px">Local Time Interval</a>
      <label>
        <input class="filter_time" style="margin-left: 10px" [(ngModel)]="filterStartTime"
               type="time"/>
      </label>
      <a class="time_label">to</a>
      <label>
        <input class="filter_time" style="margin-left: 10px" [(ngModel)]="filterEndTime"
               type="time"/>
      </label>
      <div style="width: 70%">
        <a mat-button class="filter_a" (click)="filterStart()"> Filter </a> &nbsp;
      </div>

    </div>
  </div>
  <div class="main_div">

    <div class="n_t_div">
      <img src="https://group-raiser-angular.s3.amazonaws.com/assets/pen.png"
           class="n_t_img" alt="">
      <a class="new_topic">New Topic</a>

    </div>
    <form [formGroup]="postForm">
      <label>
        <input class="input" type="text" formControlName="title" maxlength="100"
               placeholder="Input title">
      </label>

      <a class="new_time">Meet Time</a>
      <div style="width: 67%">
        <label>
          <input class="input_date" type="date" min="{{this.minDate}}" formControlName="date"/>
        </label>
        <label>
          <input class="input_date" style="margin-left: 10px" min="{{this.minTime}}" formControlName="time"
                 type="time"/>
        </label>
      </div>


      <span class="sp">
      </span>
      <label>
          <textarea #data maxlength="800" class="ta" type="text" formControlName="content"
                    placeholder="Main Content" 
                    (ngModelChange)="charCountTitle()"></textarea>
        <span style="font-size: 12px; margin-right: 30%; float: right; margin-top: 5px; color: #888888">
            {{800 - data.value.length}} / 800 characters</span>
      </label>
    </form>
    <div style="width: 60%; height: auto; float: left">
      <div *ngIf="isInvalid" class="div-error">
        <a class="error-a">{{errorMessage}}!</a>
      </div>
      <button mat-button class="btn_submit" (click)="onSubmit()">Submit</button>
    </div>
  </div>
  <div class="div-last">
    <a class="bottom-a-1"> @2019 Group Raiser</a>&nbsp;
    <a mat-flat-button [disableRipple]="true" class="bottom-a"> Help </a> &nbsp;
    <a mat-flat-button [disableRipple]="true" class="bottom-a"> Contact </a> &nbsp;
    <a mat-flat-button [disableRipple]="true" class="bottom-a"> Privacy </a> &nbsp;
    <a mat-flat-button [disableRipple]="true" class="bottom-a" routerLink="/about-us"> About Us </a> &nbsp;
    <a class="bottom-a-1"> Group Raiser </a>
  </div>
</div>


<a mat-icon-button class="fab-container2" [disableRipple]="true">
  <img #up [src]="imgSrc" alt="up" style="width: 40px; height: 40px" (click)="onActivateUp()"
       [hidden]="moving"
       (mouseover)="imgSrc = 'https://group-raiser-angular.s3.amazonaws.com/assets/ic_up_hover.png'"
       (mouseout)="imgSrc = 'https://group-raiser-angular.s3.amazonaws.com/assets/ic_up_arrow.png'">

</a>

<a mat-icon-button class="fab-container" [disableRipple]="true">
  <img #down [src]="imgSrc2" alt="up" style="width: 40px; height: 40px" (click)="onActivateDown()"
       [hidden]="moving"
       (mouseover)="imgSrc2 = 'https://group-raiser-angular.s3.amazonaws.com/assets/ic_down_hover.png'"
       (mouseout)="imgSrc2 = 'https://group-raiser-angular.s3.amazonaws.com/assets/ic_down_arrow.png'">
</a>
</body>

