<div class="main-div">
  <p class="comment">{{comment.comment}}</p>
  <a  mat-flat-button [disableRipple]="true" [disabled]="true" style=" background-color: transparent;
    color: #333333;   padding: 0; text-align: right; width: 5px !important; margin-left: -50px;
    margin-right: 1%; font-size: 12px;"> - </a>
    <a  mat-flat-button [disableRipple]="true" class="nick-name"
        (click)="seeOthers()">{{comment.nickname}}</a>

  &nbsp;
  <a class="create-time">{{comment.commentTime}}</a> &nbsp;
  <a *ngIf ="isSelf() && comment.cid != -1" class="del" mat-flat-button [disableRipple]="true"
     (click)="onCommentDelete(comment.cid)">delete</a>
</div>
